@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <button class="nav-link" type="button" id="btn" onclick="location.href='@Url.Action("PicturesPage","Home")'">Discover!</button> <br />
    <form >
    <input class="search-bar" type="text" placeholder="Search">
    <br /><br />
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> </form>

</div>

