@model List<Picture> 

@{
    ViewData["Title"] = "Pictures page";
}
<div class="logo-container"><h1>@ViewData["Title"]</h1></div>


<div class='images-center'>
    <article class="image">
        <div class='img-container'>
            <img src="" alt="image" class='image-img'>
        </div>
        <h3>Picture title</h3>
    </article>

</div>

