@model List<Picture>

@{
    ViewData["Title"] = "Pictures page";
}
<div class="logo-container"><h1>&zwnj;</h1></div>

<div class='images-center'>

    @foreach (var picture in Model)
    {
        <article class="image">
            <div class='img-container'>
                <img src="@picture.Route" alt="image" class='image-img'>
            </div>
        </article>

    }
</div>

