
@{
    ViewData["Title"] = "Login";
}

<body style="background-image: url(backgrounds/spacex.jpg)" ;>

<div class="search-container">
    <h3>Log in</h3>
        <form>
            <input class="search-bar" type="text" placeholder="Username">
            <br />
            <input class="search-bar" type="password" placeholder="Password">
            <br /><br />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

</div>
    </body>
